/*Navigation bar */
body { /*makes nav bar fill the entire space*/
  margin:0;
}


#myTopnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

#myTopnav li {
  display: inline-block;
}

#myTopnav a {
    float: left;
    display: block;
    color: #dab3ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#myTopnav .icon {
  display: none;
}

/*makes the hover colored darker purple (#6900cc)*/
li a:hover:not(.active) {
    font-style: italic;
    color: #6900cc;
}


/*Profile Picture*/
img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    padding-top: 2%;
  padding-bottom: 2%;
}

/*Name and Postition title*/
.headingDetails, h2, p{
  letter-spacing: 0.0625em;
  margin-top: 0%;
}

.headingDetails, h2{
  margin-bottom: 0%;
}

/*Each content section*/
.sectionTitle h3 {
  color: #dab3ff;
}

/*About Me*/
.sectionTitle {
  padding: 5%;
}

.sectionTitle p {
  margin-left: 8%;
}

/*skills*/
.skillCol {
  margin-left: 6%;
}
.languages, .os, .tools{
  width: 200px;
  float:left;
}


.languages ul, .os ul, .tools ul{
  list-style-type: none;
  font-size: 1em;
  padding: 0;
  margin-left: 7%;
}

br {
  clear: left;
}



/*450*/



footer {
  padding: 10%;
}

/*responsive design to nav bar*/
@media screen and (max-width: 600px) {
  #myTopnav a {
    display: none;
  }
  #myTopnav .icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #myTopnav.responsive {
    position: relative;
  }
  #myTopnav.responsive .icon {
    position: absolute;
    top: 0;
  }
  #myTopnav.responsive a {
    float: none;
    display: block;
  }
  #myTopnav.responsive li{
    display:block;
  }
}

