
/*makes nav bar fill the entire space*/
body {
	margin:0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;*/
	text-align: center;

}

li {
	display: inline-block;
}

li a {
    display: block;
    color: #dab3ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*makes the hover colored gray (#ddd)*/
li a:hover:not(.active) {
    /*background-color: #ddd;*/
    font-style: italic;
    color: #6900cc;
}


img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    padding-top: 2%;
	padding-bottom: 2%;
}

h2 {
	margin-top: 0%;
}